body{
   font-family: "Titillium Web",
   sans-serif;
}
section{
      background-color: #24353F;
}
h1{
   color: #17A2B8;
  
}
button{
   border: 1px solid #17A2B8 ;
   color: #17A2B8;
   background-color: transparent;
   margin: 2rem 0;
   padding: .3rem 0;

transition: all .5s;
}
button:hover{
   background-color: #17A2B8;
   color: white;

}
p{
   color: white;
}
a{
   text-decoration: none;
   color: white;

}
a:hover{
   text-decoration: underline;
   
}
input{
   background-color: transparent ;
   border: 1px solid white ;
   padding: .5rem 0;

   color: white;
   margin: 1rem 0;



}
input::placeholder {
  
   opacity: 0.7;
   color: white;
 }
 input:focus {
   outline: none;
 }

.formdiv{
   box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
   width: 60%;
}
#home {
   height: 50vh;
   background: #24353f;
   font-family: 'Titillium Web', sans-serif;
}
.group {
   box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.me {
  
   border: 1px solid yellow;
   transition: all .5s;
}
.me:hover {
   text-decoration: none;
   background-color: #ffc107;
}